<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">

	<property name="log.path" value="/home/llap/apps/AccountSystem/shared/log" />
	
	<conversionRule conversionWord="request" converterClass="com.snda.grand.space.as.util.RequestIdConverter" />

    <appender name="service" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<encoder>
              <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %request %thread %level %logger{0} - %msg%n</Pattern>
    	</encoder>
    	<file>${log.path}/service/service.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	    	<fileNamePattern>${log.path}/service/service.log-%d{yyyyMMddHH}.gz</fileNamePattern>
	    	<maxHistory>168</maxHistory>
    	</rollingPolicy>
    </appender>
    
    <appender name="access" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<encoder>
            <Pattern>%msg%n</Pattern>
    	</encoder>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	    	<fileNamePattern>${log.path}/access/access.log-%d{yyyyMMdd}</fileNamePattern>
    	</rollingPolicy>
    </appender>
    
    <appender name="warning" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<encoder>
    		<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %request %msg%n</Pattern>
    	</encoder>
    	<file>${log.path}/warning/warning.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	    	<fileNamePattern>${log.path}/warning/warning.log-%d{yyyyMMdd}.gz</fileNamePattern>
	    	<maxHistory>30</maxHistory>
    	</rollingPolicy>
    </appender>
    
    <logger name="com.snda.grand.space" level="DEBUG"/>
    
    <root level="DEBUG">
        <appender-ref ref="service"/>
    </root>
    
    <logger name="com.snda.grand.space.as.util.AccessLogger" level="INFO">
    	<appender-ref ref="access"/>
    </logger>
    
    <logger name="com.snda.grand.space.as.util.WarningLogger" level="INFO" additivity="false">
    	<appender-ref ref="warning"/>
    </logger>
    
</configuration>