<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://java.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
		
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:account.system.mongo.xml,
			classpath:account.system.account.rest.xml,
		</param-value>
	</context-param>
	
	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- 
    <filter>
    	<filter-name>security</filter-name>
    	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    	<init-param>
    		<param-name>targetBean</param-name>
    		<param-value>channelProcessingFilter</param-value>
    	</init-param>
    </filter>
    
    <filter-mapping>
    	<filter-name>security</filter-name>
    	<url-pattern>/*</url-pattern>
    </filter-mapping>
     -->


    <servlet>
		<servlet-name>SpringServlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SpringServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
</web-app>
